* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Layout*/
h1 {
    text-align: center;
}

#top-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 3px;
    align-items: center;

        #logo-topicoeur{
            height: 60px;
        }
        .search-bar{
            margin-left: 20%;
            display: flex;
            justify-content: center;
            height: 30px;
            width: 400px;
            background: linear-gradient(grey,black);
            box-shadow: 0.5px 0.5px 2px;
            border-radius: 15px;
            
                .search{
                    height: 28px;
                    width: 398px;
                    border: none;
                    border-radius: 15px;
                    padding-left: 20px;
                }
                #submit-btn{
        
                }
        }

        .connect{
            position: absolute;
            right: 15px;

            display: flex;
            flex-direction: row;
            gap: 10px;
            
            a {
                text-decoration: none;
                color: #FFFFFF;

                    .login-btn{
                        height: 30px;
                        width: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #FF0000;
                        border-radius: 5px;
                        box-shadow: black 1px 1px 3px;
                    }

                    .signin-btn{
                        height: 30px;
                        width: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: black;
                        border-radius: 5px;
                        box-shadow: 1px 1px 3px;
                    }
            }
        }
        
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
    #side-bar{
        display: flex;
        flex-direction: column;
        width: 20%;
        box-shadow: 1px 0.5px 1px;
            a{
                text-decoration: none;
            }
        }
        footer{
            p{    
                display: flex;
                flex-direction: column;
                
                    a{
                        text-decoration: none;
                    }
            }
        }

    #wrapper{
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    /*Topic*/

    .topic-card{
        box-shadow: black 1px 1px 3px;
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 10px;
    }
}


